<!doctype html>
<html>
    <head>
        <title>Tumpy News</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="static/style.css">

        <div id="full">
            <h1>News and Tweets about Trump</h1>
            <div id="content">
                {% for article in news: %}
                <div class="article">
                    <div class="source">{{ article.source }}</div>
                    <div class="content">
                        <div class="title">{{ article.title }}</div>
                        <div class="summary">{{ article.summary}}</div>
                        <div class="link">
                            <span>{{ article.time_published }}</span>
                            <a href="{{ article.link }}">LINK</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </body>
</html>
